/* Header */
header{
    background-color: #774D94;
    width: 100%;
}
.slogan{
    float: left;
    padding-left: 5rem;
    justify-content: flex-start;
}
#logo{

    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
}
.navegacion{
    float: right;
    padding-right: 10rem;
    padding-top: 2rem;
    vertical-align: baseline;
    justify-content: flex-end;
}
.head{
    text-decoration: none;
    font-size:larger;
    margin-right: 2rem;
    vertical-align: middle;
    justify-content: flex-end;
    align-items: baseline;
}
.lhead a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 8px;
    vertical-align: middle;
    justify-content: flex-end;
}    
.lhead a:hover{
    background-color: #704F89;
}
/* Body o main */
main{
    padding-bottom: 2rem;
}
.carrusel{
    height: 80%;
    vertical-align: middle;
}
.ElementoCarrusel{
    width: 100%;
    height:calc(700px);
    display: grid;
    grid-template-columns: auto auto auto;   
}
.titulos{
    text-align: center;
    padding: 2rem;
    font-family: 'Shippori Antique B1', sans-serif;
    font-weight: bolder;

}
.textocarrusel{
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    font-size: 2.5rem;
    color:  #24043c ;
    text-shadow: 6;
}
.textocarruselp{
    font-family: 'Oswald', sans-serif;
    font-weight:bold;
    font-size: 1.5rem;
    color:  #3A2D49 ;
    text-shadow: 6;
}
#Carrusel3{
    vertical-align: baseline;
    align-items: center;
    padding-bottom: 8%;
}
.contenido{
    vertical-align: baseline;
    align-items: center;
    padding-bottom: 10%;
}
.Carrusel2{
    vertical-align: baseline;
    align-items: center;
    padding-bottom: 15%;
    text-decoration: dashed;
}
#cita{
    font-size: 30px!important;
    color:  #24043c !important;
    font-style:oblique!important;
}
.ElementoCarrusel{
    opacity: 0.5;
}
/* Servicios */
.card-title{
    align-items: center;
}
p{
    font-family: 'Montserrat', sans-serif; 
    font-size: 18px!important;
}
.parrafos{
    font-family: 'Montserrat', sans-serif; 
    font-size: 18px!important;
}
.texto{
    width: 100%;
    height: 4rem;
    padding-bottom:50px;
}
.TextoServicios{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px!important;
}
.Espacio{
    padding-bottom: 5rem;
}
.TituloServicios{
    text-align: center;
}
/* Nosotros */
#TextoNosotros{
    text-align: center;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
}
.TextoNosotrosCards{
    text-align: justify;
    font-size: 15px!important;

}
.imagenNosotros{
    width: 100%;
    height: 100%;
}
.carta{
    height: 10rem!important;
}
/* Nuestros Clientes */
#TextoClientes{
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    font-size: 20px!important;
}
.imagenClientes{
    width: 100%;
    height: 100%;
}
.botonClientes{
    align-items: center;
}
.NuestrosClientes{
    padding-bottom: 2rem;
}
/* Contacto */
#TextoContacto{
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bolder;
    font-size: 30px!important;
    color: white;
}
.contacto{
    color: white;
    text-shadow: #0000;

}
#contactos{
    padding: 2rem;
}
.BotonContacto{
    padding-top: 1rem;
}
#terminos{
    font-size: 15px;
    padding-left: 1rem;
    vertical-align: middle;
    padding-bottom: 10px;
    color: white;
}
.TerminosC{
    padding-left: 1rem;
    vertical-align: middle;
}
.espacio{
    padding-bottom: 10px;
}
/* Footer */
.Foo{
    text-align: center;
    vertical-align: baseline;
    margin-left: auto;
    align-items: flex-end;
    padding-left: 10rem;
}
footer{
    background-color: #4F5556 ;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#TextoFooter{
    color: white;
    vertical-align: middle;
    font-size: 1.2rem;
    padding-top: 10px;
}
.FooterSvg,a{
    padding-top: 5px;
    vertical-align: middle;
    
}
.bgcontacto{
    background-image: url("/img/BGContacto.jpg");
    background-color: transparent;
    background-repeat:no-repeat;
    background-position: center center;
    width: max-content;
}
.margen{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.pie{
    padding-top: 2rem;
}